
.subscribeForm {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin: 0 auto; 
  width: 60vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box; 
  opacity: 1;
}

.name-div {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.name-div.fade-out {
  opacity: 0;
}

.name-div.fade-in {
  opacity: 1;
}

.email-div {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.email-div.fade-in {
  opacity: 1;
}

.email-div.fade-out {
  opacity: 0;
}

.subscribeForm div {
  width: 100%; 
  box-sizing: border-box; 
}

.subscribeForm p {
  margin: 0
}

.subscribeForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-align: center; 
  color: white; 
}

.subscribeForm input {
  width: 80%; 
  font-size: 1.4rem;
  background: transparent; 
  border: none; 
  outline: none; 
  box-sizing: border-box; 
  text-align: center;
  padding: 10px;
  color: #fbfcf4;
  opacity: 30%;
  font-family: 'NueuHaas';
  filter: blur(0.8px); 
}

.subscribeForm input.submitted {
  color: #d56d69;
}

p {
  margin: 0;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
} */


/* .subscribeForm button {
  padding: 0.75rem 1rem;
  background-color: #0b0c0c;
  border: none;
  color: #20718B;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%; 
  margin-top: 1rem;
  border-radius: 4px;
  box-sizing: border-box; 
  opacity: 50%;
  font-family: 'NueuHaas';
  filter: blur(0.8px); 
} */

