@font-face {
  font-family: 'NueuHaas';
  src: url('./assets/NeueHaasDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: #fff7ea;
  opacity: 95%;
  font-size: 3rem;
  font-family: 'NueuHaas';
  filter: blur(1.1px); 
}


body {
  background-color: #0b0c0c;
  margin: 0;
  height: 100vh;
}

.ig-div {
  position: fixed;
  bottom: 1px;
  right: 1px;
  z-index: 1000;
}

